@import '../../styles/variables';
@import '../../styles/animations';

.chart {
  grid-area: calculated-data;
  background-color: $color-background-input;
  border-radius: $base-border-radius;

  width: 100%;
  height: 80%;

  font-size: 1.2rem;
}
