@import '../../styles/variables';
@import '../../styles/mixins';

@mixin default-input {
  border-radius: $base-border-radius;
  border: none;
  padding: 1rem 1rem;
  background-color: $color-background-input;
}

.label {
  @include label;
}

.input-currency {
  @include default-input;
}

.input {
  [class='ant-input-number-handler-wrap'] {
    visibility: hidden;
    height: 0;
  }

  [class='ant-input-number-input-wrap'] {
    [class='ant-input-number-input'] {
      @include default-input;
    }
  }
}
