@import '../../styles/variables';

.container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 2.5rem;
  min-width: 6.4rem;

  padding: 1rem 1rem;
  border: none;
  border-radius: 10rem;

  background-color: $color-background-input-label;
  cursor: pointer;

  > div:not(:last-of-type) {
    margin-right: 1.2rem;
  }

  &--light {
    background-color: $color-gray-light;
    border: 1px solid $color-gray;
  }
}

.icon {
  transition: all 0.15s ease-in;
  display: flex;

  &--invisible {
    visibility: hidden;
  }

  &--light {
    svg {
      fill: $light-theme-color-text-light;
    }
  }
}

.handle {
  position: absolute;

  z-index: 1000;

  left: 1.5px;

  background-color: $color-primary;
  position: absolute;

  height: 21px;
  width: 21px;
  border-radius: 50%;

  transition: $base-transition;

  &--checked {
    left: calc(100% - 23px);
  }
}
