@import '../variables';

.subtitle {
  grid-area: subtitle;
  text-align: center;
}

.configuration {
  grid-area: information-data;

  display: grid;
  grid-template-rows: repeat(3, min-content);
  grid-template-columns: repeat(2, auto);
  grid-row-gap: 1.5rem;
  grid-column-gap: 1.5rem;

  grid-template-areas:
    'third-party third-party'
    'months amount'
    'add-button calculate-button';
}
