$base-transition: all 0.2s ease-out;

$base-border-radius: 4px;

//Colors
$color-imperialRed: #ef233c;

$color-white: #ffffff;
$color-gray-light: #dfe1e6;
$color-gray: #656565;
$color-black: #000;

$color-primary: #0072f5;
$color-secondary: #12a9ce;

$color-text-light: #e8e8e8;
$color-text-dark: #918e8e;
$color-background: #161616;
$color-background-input: #222222;
$color-background-input-label: #2f2f2f;

$base-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);

//Toast colors
$color-background-toast: #2c2c2c;
$color-red-toast: #d81c38;
$color-yellow-toast: #ffee58;
$color-green-toast: #82ca9d;

//Investment Colors
$investment-pink: #d3658a;
$investment-red: #d81c38;
$investment-purple: #ba68c8;
$investment-blue: #769bff;
// $investment-yellow: #ffee58;
$investment-yellow: #ffe70f;
$investment-orange: #ffa726;

//Medal Colors
$medal-gold: #ffd700;
$medal-silver: #c0c0c0;
$medal-bronze: #cd7f32;

//Light Theme
$light-theme-color-background: #dbdce1;
$light-theme-color-text-light: #464646;
$light-theme-color-text-dark: #2d3142;
$light-theme-color-background-input: #f0f0f0;
$light-theme-color-background-input-darker: #d7d9e0;
$light-theme-color-background-input-label: #d6d6d6;
