@import '../../styles/variables';

.chart {
  grid-area: graph-content;
  background-color: $color-background-input;
  border-radius: $base-border-radius;

  width: 100%;
  height: 95%;

  font-size: 1.2rem;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &--light {
    background-color: $light-theme-color-background-input;
  }
}

.responsive-chart {
  [class~='recharts-wrapper'] {
    [class~='recharts-tooltip-wrapper'] {
      [class~='recharts-default-tooltip'] {
        background-color: $color-gray-light !important;
        border-color: $color-gray !important;
      }
    }

    [class~='recharts-text'] {
      fill: $light-theme-color-text-dark;
    }
  }
}
